extends layout

block content
  header
    nav 
      ul
        li
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Blog
        li
          a(href='#') Portfolio
  footer
    p Copyright Stuart Urback 2016.
  main
    section
      div.lower
        h1 Stuart Urback
        ul
          li Game Design
          li Project Management
          li Web development
    section
      div.upper
        h2 About Me
        p 
      div.lower
    section
      div.upper
        h2 The Latest 
        //- This will auto populate
        h4 Title 
        p Bing Bong
    section
      div.upper
        h2 What I've Done
        a(href='#') Github
        a(href='#') Codepen
      div.middle
        div 
        div
        div
        div
      div.lower
        h4 Drag to Learn more
        div
    div.last
